
/*HEADER*/
header{
    display:flex;
    align-items: center;
    padding: 0 4vw;
}
.nav-barre{
    width: 100%;
}

.nav-barre a{
    text-decoration: none;
    color: white;
}

.connection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding:  1vh 4vw 1vh 1vh;
    background-color: brown;
    border-radius: 20px;
}
.connection i {
    font-size: 19px;
    padding: 2vh;

    
}