body{
    font-family : "DotGothic16", sans-serif ;
}

/*HEADER*/
.user{
    padding: 2vh 10vw;
    display: flex;
    justify-content:space-between ;
    background-color: rgb(219, 121, 30);
    border-radius: 0.5rem;
}
.user_connecter{
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 1vh;
    text-decoration: none;

}

.user_connecter i{
    margin-right: 1vw;
    font-size: 30px;
}


/*Donne*/
#data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 10vw;
}

.temperature ,.humidite{
    font-size: 80px;
    font-weight: bold;
    background-color: grey;
    padding: 2vh 4vw;
    border-radius: 0.8rem;
    background: rgb(255,95,95);
background: linear-gradient(90deg, rgba(255,95,95,1) 0%, rgba(255,221,67,1) 50%, rgba(0,255,205,1) 100%);
    
}



/*Historique*/
.titre_historique h1{
    text-align: center;
    font-size: 40px;
    padding: 2vh ;
}